.container{
    display: flex;
    /* background-color: #cbd1e9; */
}

.anchor{
    text-decoration:none ;
    color: inherit;
}




/* section 1 */


div.section1{
    display: flex;
    width: 18vw;
    /* background-color: red; */
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 100vh;
}

.logo{
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    /* padding: 10px; */
    /* padding-bottom: 20px; */
    margin-bottom: 10px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}
.profile img{
    width: 35%;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.295);
}

.profile .username{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 255, 0.658);
}


.side_links{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}


.side_element{
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 5px;
    /* cursor: pointer; */
}
.side_element:hover{
    /* padding: 10px 20px  ; */
    background-color: rgba(0, 0, 255, 0.336);
}

button.side_element{
    border-style: none;
    background-color: transparent;
    border: none;
}


.sub_manage_links{
    padding-left: 45px;
    /* display: none; */
}









/* section 2  */


div.section2{
    display: flex;
    width: 78vw;
    flex-direction: column;
    /* background-color: green; */
    margin-bottom: 50vh;
    
}

.header{
 display: flex;
 justify-content: space-between;
/* width: 100%; */
align-items: center;
/* height: 5vh; */
height: fit-content;
padding: 15px 30px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
 /* align-items: center; */
}

.header section{
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu , .user_menu{
    font-size: 1.5rem;
    display: none;
}

.new_shorten_link_btn{
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    background-color: rgba(0, 0, 255, 0.842);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.new_shorten_link_btn:hover{
    background-color: blue;
}




.input_link{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* background-color: red; */
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    /* background-color: rgb(146, 177, 235); */
    background-color: rgba(0, 0, 255, 0.336);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
}

.input_link input#input_url , input#output_url{
    /* border-style: none; */
    border: solid .2px rgba(0, 0, 0, 0.288);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top:20px ;
    /* margin: 10px; */
}

/* .input_link input#output_url{
    border: solid .2px rgba(0, 0, 0, 0.288);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top:20px ;
} */



.input_link input:focus{
    outline-color: blue;
    /* border-color: black; */
}

.input_link button{
    /* padding: 10px 20px; */
    border-style: none;
    padding: 10px 20px;
    /* margin:10px 0; */
    margin-top: 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}








.bot_intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    gap: 5px;
}
.bot_intro_title{
    font-size: 1.2rem;
    /* font-weight: 500; */
}

.bot_intro_bot_link{
    color: blue;
}
.telegram_logo{
    font-size: 3em;
    color: blue;
}

.bot_intro_bot_link{
    font-size: .8rem;
}


.today_report{
    display: flex;
    flex-direction: column;
    /* border-bottom-color: red; */
    /* background-color: red; */
    gap: 20px;
    margin: 20px;
}

.today_report_title{
    background-color: rgba(0, 0, 255, 0.336);
    padding: 10px 20px;
    /* color: white; */
    font-weight: 500;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}


.report_cards{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* place-self: center; */
    place-items: center;
    /* gap: 20px; */
}

.card{
    /* display: flex;
    width: 20%; */
    display: grid;
    width: 70%;
    grid-template-columns: 60% 40%;
    padding: 20px;
    /* background-color: red; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
}

.card section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_logo_container{
    /* background-color: rgb(25, 160, 25); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    border-radius: 50%;
    padding: 15px;
}
.card_logo{
    /* color: white; */
    /* border-radius: 50%; */
    width: 40px;

}

.card_title{
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 705;
}

.card_value{
    font-size: 1.2rem;
    font-weight: 500;
}






/* payment page */


.withdraw_cards_container{
    display: flex;
    /* width: 200px; */
    margin: 20px;
   justify-content: space-evenly;
}

.withdraw_card{
    display: flex;
    width: 250px;
    /* background-color: red; */
    padding: 20px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    
}

.withdraw_card_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* background-color: blue; */

}

.withdraw_card_logo img{
    width: 70%;
    /* color: orange; */
}

.withdraw_details{
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* padding: 10px; */
   /* background-color: royalblue; */
   width: auto;

}

.withdraw_card_title{
    font-size: 1rem;
}

.withdraw_balance{
    font-size: 1.4rem;
}

.withdraw_estimated_price{
    color: green;
}



.withdraw_section{
    margin: 40px;
    padding: 0 30px;
    /* background-color: red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.withdraw_btn{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: solid .5px rgba(0, 0, 0, 0.342);
}

.withdraw_btn button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border-style: none;
    background-color: orange;
    border-radius: 5px;
}

.withdraw_notice{
    padding: 20px 0;
    /* border-bottom: solid .5px rgba(0, 0, 0, 0.342); */
}

.withdraw_notice p{
    font-size: .9rem;
}




/* all links page */


.all_links_container{
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    margin: 20px;
    /* background-color: red; */
    flex-direction: column;
    gap: 20px;

}

.all_link{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color: blue; */
}

.all_links_title{
    display: flex;
    justify-content: space-between;
    /* font-size: 1.4rem; */
}

.all_links_title span{
    font-size: 1.4rem;
}

.all_links_title button{
    border-style: none;
    background-color: transparent;
    /* padding: 5px; */
    font-size: 1.5rem;
}

.all_links_output_link input , .all_links_output_link button{
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    
}

.all_links_output_link input{
    background-color: rgba(128, 128, 128, 0.137);
    width: 400px;
}
.all_links_output_link button{
    /* background-color: rgba(128, 128, 128, 0.137); */
    background-color: orange;
    /* width: 400px; */
}
.all_links_output_link input:focus{
    /* background-color: rgba(128, 128, 128, 0.137); */
    outline: none;
    /* width: 400px; */
}

.all_links_output_link{
    display: flex;
    gap: 10px;
}

.all_links_input_link{
    font-size: .8rem;
    color: gray;

}

.edit_del_btn_container{
    display: flex;
    /* background-color: yellow; */
    /* align-items: flex-end; */
    justify-content: flex-end;
    gap: 10px;
}

.edit_del_btn_container button{
    border-style: none;
    padding: 10px;
    background-color: orange;
    /* background-color: rgb(43, 156, 43); */
    border-radius: 5px;
}

.btn_container{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    height: fit-content;
    align-items: center;

}




/* fake  */
.refresh_btn{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.refresh_btn span{
    font-size: 1.2rem;
    font-weight: 500;
    /* color: orange; */
}
.refresh_btn button{
    padding: 10px;
    font-size: 1.2rem;
    /* border-radius: 50%; */
    border-style: none;
    /* background-color: blue; */
    background-color: transparent;
    /* margin-right: 20px; */
    
}

.refresh_btn button:hover{
    background-color: orange;
    border-radius: 5px;
}



.link_section_empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link_section_empty span{
    text-align: center;
    font-size: 1.2rem;
    /* color: red; */
    font-weight: 500;
}

.link_section_empty img{
    width: 150px;
}














@media (max-width:900px) {
    div.section2{
      width: 100vw;
    }

    .withdraw_cards_container{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 20px;
    }
  }